<!--From CH6=7 of rails tutorial: we created this file
by ourselves in order to show user information-->
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <!-- Shows Microposts in descending order
  Orderedlist! Because we have an order. Render calls the _microposts view automatically-->
  <div class="col-md-8">
  <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <!-- need the added @microposts now because we're in user, so will_paginate assumes
    we'd want to call @user, which we do in the other case (index) for users-->
    <%= will_paginate @microposts %>
  <% end %>
</div>
</div>
