<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Help",    help_path %></li>
<% if logged_in? %>
          <!-- "Users" aka "Index" -->
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <!-- bootstrap, used with the addition to application.js in assets/javascripts -->
            <ul class="dropdown-menu">
              <!-- rails knows that current_user should be user_path(current_user) so we don't need to write it all out-->
              <li><%= link_to "Profile", current_user %></li>
              <!-- the edit_user_path(current_user) thing is given by the "resources:users" line in config/routes.rb
              because magic-->
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <!-- the method tells which HTTP request to use -->
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <!-- currently unsure what login_path means -->
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


<!-- PARTIALS !! "_FILENAME"-->
